/* footer */
footer {
  display: block;
  background: rgb(50,50,50);
  color: #c0c0c0;
  margin: 0;
  padding-top: 1rem;
}
footer:before {
  clear: both;
  display: block;
  height: 2rem;
  content: ' ';
}
footer ul li:before {
  content: '';
}
footer a {
  font-size: 0.7rem;
  color: #c0c0c0;
}
.copyright {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 0.7rem;
  font-weight: 200;
  line-height: 0.8rem;
}
footer .clearfix {
  padding : 0;
  margin: 0;
  height: 0;
}
footer ul li:first-child:after  {
  content : " ";
  display: block;
  position: relative;
  left: 0;
  top: 0;
  height: 1rem;
  width: 1.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #c0c0c0;
}
.footernav {
  vertical-align: top;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.footernav li {
  line-height: 1.1rem;
  padding: 0 1rem;
}

/* html */

<footer class="secondarycolour">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 nopad"><img src="images/CLC_Logo_Xsmall_Grey.svg" style="width: 200px; height: auto;" /></div>
      <div class="col-md-9 nopad">
        <ul class="footernav">
          <li><a href="">Joining CLC</a></li>
          <li><a href="">Quick Guide</a></li>
          <li><a href="">Day/Boarding</a></li>
          <li><a href="">Admissions</a></li>
          <li><a href="">At A Glance</a></li>
          <li><a href="">Feeder Schools</a></li>
          <li><a href="">Academic</a></li>
          <li><a href="">Forms</a></li>
        </ul>
        <ul class="footernav">
          <li><a href="">About CLC</a></li>
          <li><a href="">Principal's Weclome</a></li>
          <li><a href="">Our Purpose</a></li>
          <li><a href="">College In 100 Objects</a></li>
        </ul>
        <ul class="footernav">
          <li><a href="">Key Info</a></li>
          <li><a href="">Term Dates</a></li>
          <li><a href="">Fees</a></li>
          <li><a href="">Policies</a></li>
          <li><a href="">Open Days</a></li>
        </ul>
        <ul class="footernav">
          <li><a href="">CLC Community</a></li>
          <li><a href="">Social Media</a></li>
          <li><a href="">Jobs</a></li>
          <li><a href="">Support Us</a></li>
          <li><a href="">Our Town</a></li>
          <li><a href="">Hire</a></li>
          <li><a href="">Society &amp; Clubs</a></li>
          <li><a href="">Pastoral</a></li>
          <li><a href="">Wellbeing</a></li>
        </ul>
        <ul class="footernav">
          <li><a href="">News</a></li>
          <li><a href="">Recent News</a></li>
          <li><a href="">Festivals</a></li>
          <li><a href="">College In Press</a></li>
        </ul>
        <ul class="footernav">
          <li><a href="">Contact</a></li>
          <li><a href="">Parents Login</a></li>
          <li><a href="">Staff Login</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 copyright nopad">
        <hr /> Cheltenham Ladies College &copy; 2016. All Rights Reserved
        <br /> Registered Charity #311722
        <br /> Legal
      </div>

    </div>
  </div>
  <div class="clearfix"></div>
</footer>
